<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sorashiro.cloudcat"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".PosterDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".PdiActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".BeAtActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".BeCommentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".BeLikeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserPosterActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserFollowActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserOtherFollowActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserFollowingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserOtherFollowingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".UserDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".NewPosterActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".FindActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".PhotoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>